/* цвет основного текста #757575 */
/* вторичный цвет текста (заголовки и т.д.)  #212121 */
/* цвет фона #E5E5E5 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.2;
}

ul,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 0 auto;
  /* outline: 2px solid #757575; */
}
.hidden {
  display: none;
}
/* Лого */
.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo > span {
  color: var(--accent-color);
}
/* Навигация */

.nav {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 86px;
  list-style-type: none;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item:not(:first-child) {
  margin-left: 30px;
}

.site-nav .link {
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 36px;

  color: var(--primary-white-color);
  background-color: #afb1b8;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.section-work .image,
.section .image {
  display: block;
}
/* button */
.button-primary {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  margin-bottom: 100px;

  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.button-feture {
  text-decoration: none;
}
.text-title {
  padding: 27px 87px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  white-space: nowrap;
}

.buttom-social {
  background-color: #ffffff;
  color: #afb1b8;
}
.buttom-social:hover,
.buttom-social:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* section */
.section {
  margin-bottom: 94px;
}

.section .title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.section .text {
  margin: 0;

  font-size: 14px;
  line-height: 1.7;
}

.list,
.section-list {
  display: flex;
  /* justify-content: space-between; */
}

.list .item {
  width: 278px;
}
.list .item:not(:first-child) {
  margin-left: 30px;
}

.section-list .item {
  display: flex;
  align-items: center;
  width: 380px;
}

.section-list .item:not(:first-child) {
  margin-left: 30px;
}
.section-work /* наша команда */ {
  padding-bottom: 94px;
  padding-top: 94px;
  margin-bottom: 94px;
  background-color: #f5f4fa;
}

.section-work .container {
  margin-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-list .image {
  margin-bottom: 30px;
}

.work-list .item {
  background-color: var(--primary-white-color);
}
.work-list .item:not(:first-child) {
  margin-left: 30px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
}

.section-work .title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-work .text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.feature-image {
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.feature-image:hover {
  background-color: var(--accent-color);
}
/* портфолио */
.section-port {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-filter {
  display: flex;
  justify-content: center;
  /* padding: 6px 22px; */
  margin-bottom: 0;
  border-radius: 4px;

  background-color: #f5f4fa;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.filter > :not(:first-child) {
  margin-left: 8px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.section-port .list-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.section-port .flex-element {
  width: 380px;
  margin: 15px;

  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.portfolio-image {
  margin-bottom: 20px;
}

.portfolio .title {
  margin-bottom: 20px;
  margin-left: 24px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.2;
  letter-spacing: 0.06em;
}
.portfolio .portfolio-title {
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: 24px;
}

.portfolio .text {
  display: none;

  font-size: 16px;
  line-height: 1.87;
}

.section-port .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/* footer */
.footer {
  padding-bottom: 21px;
  padding-top: 48px;
  background-color: var(--footer-background-color);
}

/* .footer .container {
  padding-top: 48px;
} */

.footer-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.footer-flex .item {
  display: flex;
  flex-direction: column;
}
.footer .footer-title {
  margin-bottom: 21px;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
}
.logo-footer {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}
.logo-footer > span {
  color: var(--accent-color);
}
.address {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address > span {
  color: var(--primary-white-color);
}

.send-button {
  display: flex;
}

.footer .copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  line-height: 2;
}
